@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to Support Tickets Application</h1>
    <p>Login, then navigate to Tickets to create and see your tickets.</p>
</div>
